{% extends 'honest/themedbase.html' %} {% block title_block %}
<title>About - Honest</title> {% endblock %} {% block intro_block %}

<h1 class="text-info text-center mt-4">About Honest</h1>

{% endblock%} {% block body_block %}
<p class="lead text-center m-4">
  We were supposed to tell you something cool about us, but to be honest,
  honesty is all we got :)
</p>
<div class="text-center">
  <a class="text-decoration-none btn-info p-2 rounded" href="/honest/"
    >Back Home</a
  >
</div>

{% endblock %}
