{% extends 'honest/themedbase.html' %}

{% block title_block %}
    <title>Add A New Person</title>
{% endblock %}

{% block intro_block %}
    <h1>Add a new person</h1>
{% endblock %}

{% block body_block %}
    <form action="/honest/add_person/", id="person_form", method="post">
    {%csrf_token%}
    {% for hidden in form.hidden_fields %}
            {{hidden}}
        {% endfor %}

        {% for field in form.visible_fields %}
            {{field.errors}}
            {{field.help_text}}:
            {{field}}
            <br>
        {% endfor %}

        <!-- check if errors exist and display them in an ordered list-->
        {% if form.errors %}
            {{form.errors}}
        {% endif %}
        <input type="submit" name="submit" value="Add Person">
    </form>

{% endblock %}