{% extends 'honest/themedbase.html' %}

{% block title_block %}
    <title>All Areas - Honest</title>
{% endblock %}

{% block intro_block %}
    <h1>All Areas - Honest</h1>
{% endblock %}

{% block body_block %}

    {% if user.is_authenticated %}
        <a href="{% url 'honest:add_category' %}"><h2>Add an area</h2></a>
    {% else %}
        <p><a href="{% url 'auth_login' %}">Sign in</a> to add an area.</p>
    {% endif %}

    {% if areas %}
        <ul>
        {% for area in areas %}
            <li><a href="{% url 'honest:area' area.slug %}">{{area.state}}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No areas yet.</p>
    {% endif %}
{% endblock %}