{% extends 'honest/themedbase.html' %} {% block title_block %}
<title>All Areas - Honest</title>
{% endblock %} {% block intro_block %}
<h1 class="text-info text-center">All Areas - Honest</h1>
{% if user.is_authenticated == False %}

<p class="text-center text-muted">
  <a class="text-decoration-none" href="{% url 'honest:login' %}">Sign in</a> to
  add an area.
</p>
{%endif%} {% endblock %} {% block body_block %} {% if user.is_authenticated %}
<a class="text-decoration-none" href="{% url 'honest:add_area' %}"
  ><h2 class="text-info text-center">Add an area</h2></a
>

{% endif %} {% if areas %}
<ul class="list-unstyled text-center">
  {% for area in areas %}
  <li>
    <a class="text-decoration-none" href="{% url 'honest:area' area.slug %}"
      >{{area.state}}</a
    >
  </li>
  {% endfor %}
</ul>
{% else %}
<p class="text-center">No areas yet.</p>
{% endif %} {% endblock %}
