{% extends 'honest/themedbase.html' %}

{% block title_block %}
    {% if area %}
    <title>{{area.state}} - Honest</title>
    {% else %}
    <title>Location Not Found - Honest</title>
    {% endif %}
{% endblock %}

{% block intro_block %}
    <h1>Honest People in {{area.state}}</h1>
    {% if user.is_authenticated %}
        <div class="one-third first"><a href="{% url 'honest:add_person' %}">Add a person</a></div>
        <div class="one-third"><a href="{% url 'honest:add_area' %}">Add an area</a></div>
        <div class="one-third"><a href="{% url 'honest:add_category' %}">Add a category</a></div>
    {% else %}
        <p><a href="{% url 'auth_login' %}">Sign in</a> to add a person, area or category</p>
    {% endif %}
{% endblock %}

{% block body_block %}
    {% if area %}
    {% if people %}
        <!-- display people in this area -->
        {% for person in people %}
            <a href="{% url 'honest:person' person.location person.service person.id %}">{{person.first_name}}, {{person.last_name}}.</a>
            <br>{{person.service}} in {{person.location}}
            <br>Contact: {{person.phone_number}}
            <br>Email: {{person.email}}
            <br>Yay or Nay: {{person.vote_positive}}
            <br><br>
        {% endfor %}

        <!-- display all categories with people in this area -->
        <h2>View services provided in {{area.state}}</h2>
        <ul>
            {% for  category in categories %}
            <li><a href="{% url 'honest:category_in_area' area.slug category.slug %}">{{category.category}}</a> </li>
            {% endfor %}
        </ul>

    {% else %}
        No Honest People Here Yet :(
    <br><br>
    {% endif %}

    {{area.views}} people viewed this page.
    {% else %}
        No matching area found.
    {% endif %}
{% endblock %}