{% extends 'honest/themedbase.html' %} {% block title_block %}
<title>{{category.category}} in {{area.state}} - Honest</title>
{% endblock %} {% block intro_block %}
<h1 class="text-info text-center">
  Honest {{category.category}} in {{area.state}}
</h1>
{% if user.is_authenticated %}
<div class="row">
  <div class="col">
    <a
      class="text-info text-decoration-none"
      href="{% url 'honest:add_person' %}"
      >Add a person</a
    >
  </div>
  <div class="col">
    <a class="text-info text-decoration-none" href="{% url 'honest:add_area' %}"
      >Add an area</a
    >
  </div>
  <div class="col">
    <a
      class="text-info text-decoration-none"
      href="{% url 'honest:add_category' %}"
      >Add a category</a
    >
  </div>
</div>
{% else %}
<p class="text-center">
  <a class="text-decoration-none" href="{% url 'honest:login' %}">Sign in</a> to
  add a person, area or category
</p>
{% endif %} {% endblock %} {% block body_block %}

<div class="container">
  <div class="row d-flex justify-content-center">
    {% for person in people %}

    <div class="card border-secondary mb-3 w-75">
      <div class="card-header" style="background-color: #e3f2fd;">
        {{person.service}} in {{person.location}}
      </div>
      <div class="card-body text-dark">
        <h5 class="card-title">
          <a
            class="text-decoration-none
                    "
            href="{% url 'honest:person' person.location person.service person.id %}"
            >{{person.first_name}}, {{person.last_name}}.</a
          >
        </h5>
        <p class="card-text">
          Contact: {{person.phone_number}} <br />Email: {{person.email}}
          <br />Rating: {{person.avg_rating}}
        </p>
      </div>
    </div>

    {% endfor %}
  </div>
</div>
{% endblock %}
