{% extends 'honest/themedbase.html' %}

{% load static %}
{% block title_block%}
    <title>Honest</title>
{% endblock %}

{% block intro_block %}

<div class="row">
    <div class="col">
    <h1 class="text-center text-info">Honest</h1>

    <!-- show welcome message if user is logged in-->
    <p class="lead text-center">
        {% if user.is_authenticated %}
        <strong>Welcome, {{user.username}}</strong>
        <br>
        {% endif %}
        {{ honest_message }}
        </br>
        stay <strong>straight</strong>, it pays!
    </p>

    {% if user.is_authenticated %}
    <div class="row">
        <div class="col text-center"><a class="text-info text-decoration-none" href="{% url 'honest:add_person' %}">Add a person</a></div>
        <div class="col text-center"><a class="text-info text-decoration-none" href="{% url 'honest:add_area' %}">Add an area</a></div>
        <div class="col text-center"><a class="text-info text-decoration-none" href="{% url 'honest:add_category' %}">Add a category</a></div>
        </div>
    {% else %}
        <p class="text-muted text-center"><a class="text-decoration-none" href="{% url 'honest:login' %}">Sign in</a> to add a person, area or category</p>
    {% endif %}
    </div></div>
{% endblock %}

{% block body_block %}
    <!-- display categories-->
    
    <div class="container">
        <div class="row">
    <div class="col text-center">
        <a class="text-decoration-none" href="{% url 'honest:all_categories' %}"><h2 class="text-info">Categories</h2></a>
        {% if categories %}
        <ul class="list-unstyled">
            {% for category in categories %}
            <li><a class="text-decoration-none" href="{% url 'honest:category' category.slug %}">{{category.category}}</a></li>
            {%endfor%}
        </ul>
            {% if categories.count > 9 %}
                <a href="{% url 'honest:all_categories' %}">See all</a>
            {% endif %}
        {%else%}
            No categories available.
        {%endif%}
    </div>

    <!-- display areas -->
    <div class="col text-center">
        <a class="text-decoration-none" href="{% url 'honest:all_areas' %}"><h2 class="text-info">Areas</h2></a>
        {% if areas %}
        <ul class="list-unstyled">
            {% for area in areas %}
            <li><a class="text-decoration-none" href="{% url 'honest:area' area.slug %}">{{area.state}}</a></li>
            {% endfor %}
        </ul>
            {% if areas.count > 9 %}
                <a href="{% url 'honest:all_areas' %}">See all</a>
            {% endif %}
        {% else %}
            No Areas available.
        {% endif %}
    </div>
    </div></div>

    <!--- <img src="{%static 'honest/images/logoidea.jpg'%}" alt="honest logo"/> --->
{% endblock %}