{% extends 'honest/base.html' %}

{% block title_block %}
    <title>Login - Honest</title>
{% endblock %}

{% block body_block %}
    <h1>Login to Honest</h1>
    <form action="/honest/login/" id="login_form" method="post">
        {% csrf_token %}
        Username: <input type="text" name="username" value="" size="50"/>
        <br>
        Password: <input type="password" name="password" value="" size="50"/>
        <br>
        <input type="submit" value="submit"/>
    </form>
{% endblock %}