<!DOCTYPE HTML>
{% load static %}
<html>
<head>
{% block title_block %} <title>Honest</title> {% endblock %}
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="{% static 'honest/themedstyle.css' %}">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
</head>
<body>
<header>
  <nav class="main-nav">
    <ul>
        <li><a href="{% url 'honest:index' %}">Home</a></li>
      <li>
        {% block nav_block %}
          <ul>
              <li><a href="{% url 'honest:about' %}">About</a></li>
              <li><a href="{% url 'honest:all_areas' %}">Areas</a></li>
              <li><a href="{% url 'honest:all_categories' %}">Categories</a></li>
          {% if user.is_authenticated %}
              <li><a href="{% url 'honest:logout' %}">Sign out</a></li>
          {% else %}
             <li><a href="{% url 'honest:register' %}">Sign up</a></li>
              <li><a href="{% url 'honest:login' %}">Sign in</a></li>
          {% endif%}
          </ul>
          {% endblock %}
      </li>
    </ul>
  </nav>
</header>

<section id="main-content">
  <div class="text-intro">
    {% block intro_block%}
      {% endblock %}
  </div>

    {% block body_block %}
    <p>content coming soon</p>
    {% endblock %}

</section>
<footer>
  <div class="copyright"><small>Copyright text would go here :) .</small></div>
</footer>
</body>
</html>