<!DOCTYPE html>
{% load static %}
<html>
  <head>
    {% block title_block %}
    <title>Honest</title>
    {% endblock %}
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0"
    />
  </head>
  <body>
    <header>
      <!-- Navbar begins -->
      <nav
        class="navbar navbar-expand-md navbar-light "
        style="background-color: #e3f2fd;"
      >
        <div class="container">
          <a class="navbar-brand text-info" href="{% url 'honest:index' %}"
            >Honest</a
          >

          {% block nav_block %}
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'honest:about' %}">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'honest:all_areas' %}"
                  >Areas</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'honest:all_categories' %}"
                  >Categories</a
                >
              </li>
              {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'honest:logout' %}"
                  >Sign out</a
                >
              </li>
              {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'honest:register' %}"
                  >Sign up</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'honest:login' %}">Sign in</a>
              </li>
              {% endif%}
            </ul>
          </div>
          {% endblock %}
          <button
            class="btn btn-outline-info my-2 my-sm-0"
            onclick="window.location.href = 'https://github.com/osaimola';"
          >
            GitHub
          </button>
        </div>
      </nav>

      <!-- Nabar ends-->
    </header>

    <section id="main-content">
      <div class="text-intro">
        <div class="jumbotron m-4 bg-light">
          {% block intro_block%} {% endblock %}
        </div>
      </div>

      {% block body_block %}
      <p>content coming soon</p>
      {% endblock %}
    </section>

    <!-- Footer -->
    <footer class="" style="background-color: #e3f2fd;">
      <!-- Copyright -->
      <div class="text-secondary text-center py-3">
        <small>Copyright text would go here :)</small>
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
